<div class="row">
  <div class="large-12 columns">
    <h1>About Us.</h1>
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </div>
</div>

<div class="people">
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[nancy]">
    </div>
    <div class="large-7 columns">
    <h3>Nancy K. Marder</h3>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
    </div>
  </div>
<br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[jennifer]">
    </div>
    <div class="large-7 columns">
    <h3>Jennifer Simpson</h3>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
    </div>
  </div>
<br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[rebbecca]">
    </div>
    <div class="large-7 columns">
    <h3>Rebbecca Wiener</h3>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
    </div>
  </div>
</div>
