<div class="therapists">
  <div class="row therapist">
  <h1>Therapists</h1>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[nancy]">
    </div>
    <div class="large-7 columns">
    <h3>Nancy K. Marder, O.T.R./C.H.T</h3>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
    </div>
  </div>
<br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[jennifer]">
    </div>
    <div class="large-7 columns">
    <h3>Jennifer Simpson, O.T.R./C.H.T</h3>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
    </div>
  </div>
<br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[rebbecca]">
    </div>
    <div class="large-7 columns">
    <h3>Rebbecca Wiener, O.T.R.</h3>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
    </div>
  </div>
</div>

<div class="support">
  <div class="row">
  <h1>Support Staff</h1>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[barbara]">
      <h3 class="aligncenter">Barbara Israel</h3>
      <p>Title</p>
    </div>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[jamie]">
      <h3 class="aligncenter">Jamie Woodford</h3>
      <p>Title</p>
    </div>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[leah]">
      <h3 class="aligncenter">Leah Hertz</h3>
      <p>Title</p>
    </div>
  </div>
</div>
