<div class="therapists">
  <div class="row therapist">
  <h1>Therapists:</h1>
    <div class="large-4 columns">
      <img src="http://farm4.staticflickr.com/3754/12599369743_4118d5ed12_o.jpg" class="nancy-pic">
    </div>
    <div class="large-7 columns">
    <h3>Nancy K. Marder, O.T.R./C.H.T.</h3>
    <p>
      Nancy K. Marder, OTR/CHT graduated from SUNY Buffalo with a BS in Occupational
      Therapy and then received an Advanced Masters in Occupational Therapy from New
      York University. She has been practicing occupational therapy for over 30 years. She
      began her career at DC General Hospital and at Bellevue Hospital as a Staff OT. She
      then worked at The New York Hospital, heading up the Hand Therapy Rehabilitation
      Program. She became a Board Certified Hand Therapist in 1991.
    </p>
    <p>
      In 1989, Nancy opened up her private practice, South Shore Hand Therapy and
      Occupational Therapy PLLC. She is highly skilled in custom splint fabrication and
      treatment of a variety of diagnoses including tendon repair, nerve injury, tendonitis, and
      fractures. She enjoys helping people with simple to complex upper extremity problems
      to decrease pain and regain motion, strength and function. Nancy will work closely with
      you and your physician to help you achieve the best functional result possible. Nancy
      also works with children who have undergone reconstructive surgery for cerebral palsy
      and congenital differences.
    </p>
    </div>
  </div>
<br><br><br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://farm4.staticflickr.com/3755/12599689814_b7e0266020_n.jpg" class="therapist-pic">
    </div>
    <div class="large-7 columns">
    <h3>Jennifer Sampson, O.T.R./C.H.T.</h3>
    <p>
      Jennifer Sampson, OTR/CHT graduated from New York University with an MA in
      Occupational therapy and has been a practicing occupational therapist for the past
      15 years. She began her career at Staten Island University Hospital and Beth Israel
      Medical Center. She became a certified hand therapist in 2005 and since then has
      spent the majority of her time working closely with doctors and surgeons in the
      treatment of complex upper extremity injuries. She is highly skilled in custom splint
      fabrication and treatment of a variety of diagnoses including tendon repair, nerve injury,
      tendonitis, and fractures. Jennifer will work closely with you and your physician to help
      you achieve the best functional result possible.
    </p>
    </div>
  </div>
<br><br><br><br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="http://farm4.staticflickr.com/3807/12599689134_0bb7038a56_n.jpg" class="rebbecca-pic">
    </div>
    <div class="large-7 columns">
    <h3>Rebbecca Weiner, O.T.R.</h3>
    <p>
    Rebbecca Weiner, OTR, Approved Early Intervention OT, graduated from Quinnipiac
      University with a BS in Occupational Therapy and has been a practicing occupational
      therapist for the past 12 years. She has been providing hand rehabilitation for the
      past 12 years at South Shore Hand Therapy and also provides Early Intervention
      Occupational Therapy. Rebbecca provides therapy for children with Developmental
      Differences and uses the Hand Writing Without Tears Program. She is highly skilled in
      custom splint fabrication and elbow, forearm, wrist, and hand rehabilitation. Rebecca
      will work closely with you and your physician to help you achieve the best functional
      result possible.
    </p>
    </div>
  </div>
</div>

<div class="support">
  <div class="row">
  <h1>Support Staff:</h1>
  <br><br>
  <div class="aligncenter">
    <div class="large-4 columns">
      <img src="http://farm8.staticflickr.com/7453/12599370693_9403f22275_m.jpg">
      <h3>Barbara Israel</h3>
      <p>Barbara will help you with your appointments and all of your insurance questions. She
        will help you navigate your healthcare plan. Barbara is your best advocate!</p>
    </div>
    <div class="large-4 columns">
      <img src="http://farm4.staticflickr.com/3817/12599690034_9c7b8044d0_m.jpg">
      <h3>Jamie Woodford</h3>
      <p>Jamie will help you with your exercises and activities. Everyone loves Jamie! Jamie is
      currently working towards becoming a Certified Occupational Therapy Assistant.</p>
    </div>
    <div class="large-4 columns">
      <img src="https://v4s.yimg.com/so/7325/12599689564_b76c4bd863_m.jpg">
      <h3>Leah Hertz</h3>
      <p>Leah will help you with your exercises and activities. She is currently awaiting
      acceptance to a Master’s degree program in Occupational Therapy. Good Luck Leah!</p>
      </div>
    </div>
  </div>
</div>
