<div class="therapists">
  <div class="row therapist">
  <h1>Therapists:</h1>
    <div class="large-4 columns">
      <img src="http://farm4.staticflickr.com/3754/12599369743_4118d5ed12_o.jpg" class="nancy-pic">
    </div>
    <div class="large-7 columns">
    <h3>Nancy K. Marder, O.T.R./C.H.T.</h3>
    <p>
      Nancy K. Marder, OTR/CHT graduated from SUNY Buffalo with a BS in Occupational
      Therapy and then received an Advanced Masters in Occupational Therapy from New
      York University. She has been practicing occupational therapy for over 30 years. She
      began her career at DC General Hospital and at Bellevue Hospital as a Staff OT. She
      then worked at The New York Hospital, heading up the Hand Therapy Rehabilitation
      Program. She became a Board Certified Hand Therapist in 1991.
    </p>
    <p>
      In 1989, Nancy opened up her private practice, South Shore Hand Therapy and
      Occupational Therapy PLLC. She is highly skilled in custom splint fabrication and
      treatment of a variety of diagnoses including tendon repair, nerve injury, tendonitis, and
      fractures. She enjoys helping people with simple to complex upper extremity problems
      to decrease pain and regain motion, strength and function. Nancy will work closely with
      you and your physician to help you achieve the best functional result possible. Nancy
      also works with children who have undergone reconstructive surgery for cerebral palsy
      and congenital differences.
    </p>
    </div>
  </div>
<br><br><br>
  <div class="row therapist">
    <div class="large-4 columns">
      <img src="https://farm2.staticflickr.com/1521/24709438115_1cdeaff66e_o.jpg" class="therapist-pic">
    </div>
    <div class="large-7 columns">
    <h3>Delynne Baptiste O.T.R.</h3>
    <p>
      Delynne Baptiste, OTR graduated from CUNY New York with a BS/MS in Occupational
      Therapy and has been practicing Occupational Therapy for the past 10 years.  She began her
      career began at Bellevue Hospital and Mercy Hospital. Most recently, she worked at PRN
      Physical and Occupational Therapy. She is highly skilled in custom splint fabrication and
      shoulder, elbow, forearm, wrist and hand rehabilitation. She is board eligible and will sit for
      her Certification in Hand Rehabilitation this year. Delynne will work closely with you and
      your physician to help you achieve the best functional result possible.
    </p>
    </div>
  </div>
</div>

<div class="support">
  <div class="row">
  <h1>Support Staff:</h1>
  <br><br>
  <div class="aligncenter">
    <div class="large-3 columns">
      <img src="http://farm8.staticflickr.com/7453/12599370693_9403f22275_m.jpg">
      <h3>Barbara Israel</h3>
      <p>Barbara will help you with your appointments and all of your insurance questions. She
        will help you navigate your healthcare plan. Barbara is your best advocate!</p>
    </div>
    <div class="large-3 columns">
      <img src="https://farm2.staticflickr.com/1611/24413680750_58f43bf16c_o.jpg">
      <h3>Charlotte Bellear</h3>
      <p>Charlotte will help you with your exercises and activities. She will make you smile!  She has
        recently graduated from SUNY at Stoney Brook and is applying for her Masters in
        Occupational Therapy.</p>
    </div>
    <div class="large-3 columns">
      <img src="https://farm2.staticflickr.com/1714/24081041434_2a3ea50424_o.jpg">
      <h3>Jamie Woodford</h3>
      <p>Jamie will help you with your exercises and activities. Everyone loves Jamie! Jamie has
        worked with us for over 8 years.</p>
    </div>
    <div class="large-3 columns">
      <img src="https://farm2.staticflickr.com/1498/24341542189_41162f68b2_o.jpg">
      <h3>Olivia Timinelli</h3>
      <p>Olivia is spending a semester with us as part of her High School Senior Experience.</p>
    </div>
  </div>
</div>
