<div class="row">
  <div class="large-6 columns">
    <h1>Contact Us.</h1>
    <ul>
      <li>Phone</li>
      <li>Address</li>
      <li>Email</li>
      <li>Fax</li>
    </ul>
  </div>

  <div class="large-6 columns">
    <h1>Hours.</h1>
    <ul>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h1>Location.</h1>
    <p>For GPS directions, enter Johnson Place, Merrick, NY, 11566</p>
    <div id="map_canvas"></div>
  </div>
</div>
