<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row aligncenter">
  <img src="http://farm8.staticflickr.com/7352/12596971953_532224ddde_c.jpg">
</div>
<br><br>
<div class="row">
  <div class="large-7 columns contact">
    <h1>Contact Us.</h1>
    <ul>
      <li>Phone: (516) 868-5302</li>
      <li>Fax: (516) 546-7681 </li>
      <li>Address: 2108 Merrick Mall, Merrick, NY, 11566</li>
      <li>Email: <a href="mailto:sshandtherapy@gmail.com">sshandtherapy@gmail.com</a></li>
    </ul>
  </div>

  <div class="large-5 columns contact">
    <h1>Hours.</h1>
    <ul>
      <li>Monday: 7am - 9pm</li>
      <li>Tuesday: 7am - 4pm</li>
      <li>Wednesday: 7am - 3:30pm</li>
      <li>Thursday: 7am - 9pm</li>
      <li>Friday: 7am - 4pm</li>
    </ul>
    <p>Please call to schedule an appointment.</p>
  </div>
</div>

<div class="row">
  <div class="large-7 columns">
    <h1>Location.</h1>
    <p>For GPS directions, enter 50 Johnston Pl. Merrick, NY 11566.</p>
    <div id="map_canvas">
      <img src="http://farm8.staticflickr.com/7344/12277561356_149470db29_o.png">
    </div>
  </div>

  <div class="large-5 columns">
    <h1>Facebook.</h1>
    <p>Check out our page!</p>
    <div class="fb-like-box" data-href="https://www.facebook.com/southshorehandtherapy" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
  </div>
</div>
