<!-- First Band (Image) -->
<br>
  <div class="row">
    <div class="large-12 columns">
      <img src="http://farm8.staticflickr.com/7318/12598919833_8c187eedb1_b.jpg">
      <!-- <img src="http://farm6.staticflickr.com/5526/12597084744_b62d8ca596_b.jpg"> -->
      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->
<br><br><br>
  <div class="row">
    <div class="large-6 medium-6 columns">
      <img src="http://farm8.staticflickr.com/7413/12599191364_4892f3f41f_z.jpg">
    </div>
    <div class="large-6 medium-6 columns">
      <h1 class="aligncenter">South Shore Hand Therapy & Occupational Therapy PLLC.</h1>
      <div class="row">
        <div class="large-12 medium-12 columns">
          <p>Founded in 1989 by Nancy K. Marder O.T.R/C.H.T, we provide treatment in a calm, caring, compassionate manner where we provide therapy one patient at a time. We specialize in treating people that are in need of Rehabilitation to their Elbow/Forearm/ Wrist and Hand.</p>
        </div>
      </div>
    </div>
  </div>
<br><br><br>

  <div class="row">
    <div class="large-6 medium-6 columns">
      <h2 class="aligncenter">Treatment Goals</h2>

      <p>Our treatment goals include helping you to understand your diagnosis while working with you to improve motion, build strength, manage pain, and maximize function.</p>
      <br><br>
      <p>Diagnoses treated include (but not limited to):</p>
      <br>
      <p>Extensor tendon injuries, Flexor tendon injuries, Dupuytren’s contracture, Nerve injuries, Carpal Tunnel Syndrome, Cubital Tunnel Syndrome, Radial Tunnel Syndrome, Crush injuries, Ganglion excision, Trigger finger, RSD/CRPS, DeQuervain’s, Pain, Joint stiffness, Wounds and Infections, Amputations, Reattachments, Tendonitis, Tennis elbow, Golfer’s elbow, Tendon transfers, Rheumatoid arthritis, Osteoarthritis, Joint replacement/Arthroplasty, Burns, and Distal biceps repair.</p>

    </div>
    <div class="large-6 medium-6 columns">
      <img src="http://farm4.staticflickr.com/3779/12598854865_65b7a73792.jpg">
      <br><br>
      <img src="http://farm8.staticflickr.com/7328/12599526454_3d1f663199.jpg">
    </div>
  </div>

<!-- Fourth Band (Membership) -->
<br><br><br>
  <div class="row">
  <h1>Member of:</h1>
  <br>
    <div class="large-4 medium-4 columns aligncenter member-horizontal">
      <a href="http://www.hss.edu/"><img src="http://farm3.staticflickr.com/2860/12732689474_4a6038394f_m.jpg"></a>
    </div>
    <div class="large-4 medium-4 columns aligncenter member-horizontal">
      <a href="http://www.asht.org/"><img src="http://farm6.staticflickr.com/5514/12732689484_7d8d21d2d1_m.jpg"></a>
    </div>
    <div class="large-4 medium-4 columns aligncenter">
      <a href="http://www.htcc.org/"><img src="http://farm4.staticflickr.com/3710/12732386333_d538b7b4be_m.jpg"></a>
    </div>
  </div>
