<!-- First Band (Image) -->

  <div class="row">
    <div class="large-12 columns">
      <img src="http://farm8.staticflickr.com/7318/12598919833_8c187eedb1_b.jpg">
      <!-- <img src="http://farm6.staticflickr.com/5526/12597084744_b62d8ca596_b.jpg"> -->
      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    <div class="large-4 columns">
      <img src="http://farm8.staticflickr.com/7413/12599191364_4892f3f41f_n.jpg">
    </div>
    <div class="large-8 columns">
      <h1>South Shore Hand Therapy & Occupational Therapy PLLC.</h1>
      <div class="row">
        <div class="large-12 columns">
          <p>Founded in 1989 by Nancy K. Marder O.T.R/C.H.T, we provide treatment in a calm, caring, compassionate manner where we provide therapy one patient at a time. We specialize in treating people that are in need of Rehabilitation to their Elbow/Forearm/ Wrist and Hand.</p>
        </div>
      </div>
    </div>
  </div>
<br>
<!--   <div class="row">
    <div class="large-12 columns">
      <img src="http://farm8.staticflickr.com/7291/12596648565_b8f783f024_b.jpg">
      <img src="http://farm6.staticflickr.com/5526/12597084744_b62d8ca596_b.jpg">
      <hr>
    </div>
  </div> -->
  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <div class="large-6 columns">
      <h3>Treatment Goals.</h3>

      <p>Our treatment goals include helping you to understand your diagnosis while working with you to improve motion, build strength, manage pain, and maximize function.</p>

      <p>Diagnoses treated includes (but not limited to):

      Extensor tendon injuries, Flexor tendon injuries, Dupuytren’s, Nerve injuries, Carpal Tunnel Syndrome, Cubital Tunnel Syndrome, Radial Tunnel Syndrome, Crush injuries, Ganglion excision, Trigger finger, RSD/CRPS, DeQuervain’s, Pain, Joint stiffness, Wounds and Infections, Amputations, Reattachments, Tendonitis, Tennis elbow, Golfer’s elbow, Tendon transfers, Rheumatoid arthritis, Osteoarthritis, Joint replacement/Arthroplasty, Burns, Distal biceps repair</p>

    </div>
    <div class="large-6 columns">
      <img src="http://farm4.staticflickr.com/3779/12598854865_65b7a73792.jpg">
    </div>
  </div>

<!-- Fourth Band (Membership) -->

  <div class="row">
  <h1>Member of:</h1>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[Group1]">
    </div>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[Group2]">
    </div>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[Group3]">
    </div>
  </div>
