/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree .
 */

body {
  background: url("http://farm8.staticflickr.com/7428/12596472835_b2b2a1bc66_s.jpg");
}

.aligncenter {
  text-align: center;
}

.header {
  margin-top: 3px;
}

.support {
  margin-top: 60px;
}

.contact li, .therapist li {
  list-style-type: square;
}

.nav-header {
  margin-top: 100px;
}
