/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree .
 */
/*
.purple, p{
  color: #630089;
}*/

.aligncenter {
  text-align: center;
}

.header {
  margin-top: 3px;
}

.support {
  margin-top: 60px;
}

.contact li, .therapist li {
  list-style-type: square;
}

.nav-header {
  margin-top: 28px;
}

.therapist-pic {
  height: 272px;
}

@media only screen and (max-width: 479px) {
  .header h2 {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
  }

  .button {
    width: 100%;
  }

  h1, h2, h3 {
    text-align: center;
  }
}
